{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="row "  style="position: absolute; z-index: -99; width: 100%; height: 100%">
  <iframe  src="https://www.youtube.com/embed/JPe2mwq96cw?autoplay=1" title="YouTube video player"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>

</iframe>
  </div>
  <div class="row" style="padding: 100px;">
  <h1 class="text-center text-light fw-bold my-3"><span class="fw-bold"></span>We are Grand Tour World Class Travel
    Agency</h1>
  <h5 class="text-center text-light fw-bold my-3"><span class="fw-bold"></span> Trips, experiences, and places. All in
    one service.</h5>
</div>
<div>


<div class="row bg-dark text-light mt-5">
  <div class="col-md-8 offset-2">
  <h1 class="text-center text-light fw-bold my-4 "><span class="fw-bold"></span>
    This adventure isn’t about change but it seems to be an inevitability.</h1>
  <h6 class="text-center text-light fw-bold my-4 "><span class="fw-bold"></span>Meh synth Schlitz, tempor duis
    single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.Photo
    booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party
    deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit
    bespoke vinyl art party Pitchfork selfies master cleanse.</h6>
  </div>
</div>
</div>
    <div class="row text-center p-5" id="counter">
      
      <div class="col-md-4">
        <div class="milestone-counter">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i><br>
          <span class="stat-count highlight counter">4286</span>
          <div class="milestone-details">Happy Customers</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="milestone-counter">
          <i class="fa fa-plane" aria-hidden="true"></i><br>
          <span class="stat-count highlight counter">820</span>
          <div class="milestone-details">Destinations</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="milestone-counter">
          <i class="fa fa-camera-retro" aria-hidden="true"></i><br>
          <span class="stat-count highlight counter">1232</span>
          <div class="milestone-details">Photos Taken</div>
        </div>
      </div>
    </div>  
      
      <div class="row my-5" id="bg11">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 bg-light">
          <div class="col-md-12 text-dark p-3">

            <h1> Get In Touch With Us</h1>
            <h5>This is sample of sub title</h5>
          </div>

          <label class="fw-bold text-dark">Full Name <span class="text-danger"></span></label>
          <input type="text" class="form-control" placeholder="Enter Your Name" pattern="[A-Za-z]*" required />
          <div class="col-md-6 bg-light">

          </div>

          <label class="fw-bold text-dark">Email Address</label>
          <input type="email" class="form-control" placeholder="email Address" />
          <label class=" fw-bold text-dark">Phone Number<Address></Address></label>
          <input type="text" placeholder="Phone no" class="form-control">
          <label class="fw-bold text-dark">Interested In</label>
          <select name="" id="" class="form-control">
            <option value="">Asia Trip</option>
            <option value="">Bathinda trip</option>
            <option value="">Goa trip</option>
          </select>
          <div>
            <label class="fw-bold">Number of Person </label>
            <input type="number" class="form-control" placeholder="Number of person">
            <button class="btn btn-danger mt-2">Send Message</button>
          </div>
          <div class="row">
            <h1 class="text-center text-light fw-bold my-3"< span class="fw-bold"></span>Meet Our Team</h1>
            <h6>Trips, experiences, and places. All in one service.</h6>
            <div>
            </div>
          </div>
        </div>
      </div>

    
  <div class="row text-center">
    <h1><span class="fw-bold"></span>Meet Our Team</h1>
    <h5><span class="fw-bold"></span>Trips, experiences, and places. All in one service.</h5>


  </div>
  <div class="row text-center">
    <div class="col-md-2 my-5">
      <img src="{% static 'dk.jpeg' %}" width="90%" height="90px" class="rounded-circle" />
      <h5><span class="fw-bold"></span>Jessica Lee</h5>
      <h6><span class="fw-bold"></span>CEO</h6>
    </div>
    <div class="col-md-2">
      <img src="{% static 'kd.jpeg' %}" width="90%" height="90px" class="rounded-circle mt-5" />
      <h5><span class="fw-bold"></span>John Bennett</h5>
      <h6><span class="fw-bold"></span>Asia Tour Expert</h6>

    </div>
    <div class="col-md-2">
      <img src="{% static 'dp.jpeg' %}" width="90%" height="90px" class="rounded-circle mt-5" />
      <h5><span class="fw-bold"></span>Christina Hardy</h5>
      <h6><span class="fw-bold"></span>Marketing Manager</h6>
    </div>
    <div class="col-md-2">
      <img src="{% static 'da.jpeg' %}" width="90%" height="90px" class="rounded-circle mt-5" />
      <h5><span class="fw-bold"></span>Oliver Doe</h5>
      <h6><span class="fw-bold"></span>Europe Tour Expert</h6>
    </div>
    <div class="col-md-2">
      <img src="{% static 'pa.jpeg' %}" width="90%" height="90px" class="rounded-circle mt-5" />
      <h5><span class="fw-bold"></span>Jane Bennett</h5>
      <h6><span class="fw-bold"></span>Customer Support</h6>
    </div>
  </div>




{% endblock %}