<td>myproject</td>
</tr>
 <td>2</td>
 <td>dev</td>
 <td>Python</td>
</tr>
<tbody>
</table>
<!--anchor,hyperlink reference-->
<a href="/about/"target="_blank">click here</a>
<image src="{% static 'a.jfif' %}"/>
<div class="row" id="counter">
    <div class="col-md-12 scroll-block">
      <h1>Scroll Down</h1>
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <div class="col-md-4">
      <div class="milestone-counter">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><br>
        <span class="stat-count highlight">4286</span>
        <div class="milestone-details">Happy Customers</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="milestone-counter">
        <i class="fa fa-plane" aria-hidden="true"></i><br>
        <span class="stat-count highlight">820</span>
        <div class="milestone-details">Destinations</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="milestone-counter">
        <i class="fa fa-camera-retro" aria-hidden="true"></i><br>
        <span class="stat-count highlight">1232</span>
        <div class="milestone-details">Photos Taken</div>
      </div>
    </div>
  </div>