{% load static %}
<html>
    <head>
        <title>boot</title>
    <link href="{% static 'css/bootstrap.min.css' %}"
    rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-grid.min.css'%}"
    rel="stylesheet"/>
    </head>
    <body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>golden bakery</h1>
        </div>
        <div class="col-md-4">
        <a href="">cart</a>&nbsp;&nbsp;
        <a href="">checkout</a>&nbsp;&nbsp;
        <a href="">signup</a>&nbsp;&nbsp;
        <a href="">login</a>&nbsp;&nbsp;
        </div>
    </div >
    <!--row end-->
    <div class="row">
        <div class="col-md-7">
            <img src="{%static 'a.web' %}" width="100"
            heigth="250"/>
            <div>
            </div class="col-mid-5">
            <h3>about bakery</h3>
            <p>golden bakery</p>
            <a href=""><button>read more</button></a>
        </div>
    </div>
</body>
</html>