<html>
    <body>
        <input type="text" placeholder="Enter name" id="name" />
        <button onclick="f()">Click</button>
        <p id="result"></p>
    </body>
</html>
        function f()
        {
            let presult=document.getElementById("result");
            let n=doucment.getElementById("name").value;     //get
            presult.innerHTML+="welcome "+n+"<br>";          //set
            doucment.getElementById("name").value="";        //set
            presult.style.color="blue";
            presult.style.fontSize="33px";
        }
    </script>
    </html>
    