{% load static %}
<html>
    <head>
           <title>first web </title>
    <link href="{% static 'style.css'%}" rel="stylesheet"/>
     <body>
        <!--<h1 id="heading1">Welcome django</h1>
        <h4>welcome django</h4>
        <h6>welcome django</h6>
    <p>this is a paragraph this is a paragraph this is a paragraph this is a paragraph<br/>this is a paragraph this is a paragraph this is a paragraph this is a paragraph</p>
    <p>this is another paragraph</p>
    <ul type="circle">
      <li>PHP</li>
      <li>Python</li>
      <li>C++</li>
    </ul>
    <ol type="I">
    <li>PHP</li>
    <li>Python</li>
    <li>C++</li>
</ol>
        <table border="4" cellspacing="5" cellpading="10">
        <thread>
            <tr>
                <th>Srno</th>
                <th>Name</th>
                <th>Course</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td>1</td>
                <td>kiran</td>
                <td>Python</td>
            </tr>
            <tr>
                <td>2</td>
                <td>lovepreet</td>
                <td>PHP</td>
            </tr>
        </tbody>
        <table>
            <!--anchor,hyperlink reference-->
        ---!>
        <div class="container-fluid" >
            <div class="row bg-warning text-light p-2 ">  id="topheader">
            <div class="col-md-9 ps-5">
            <i class="fa-solid fa-mobile"></i>
            <spam>+962 837 482 374</spam>
            &nbsp;&nbsp;
            <i class="fa fa-envelope"></i>
            <spam>construction@example.com</spam>
            </div>
            <div>
             <!--footer end-->
             <div class="col-md-3 text-center">
             <a href="#">FAQ</a>
             <div class="row" id="bannerimg">
            <div class="col-md-12" id="subbannering">
            <div class="col-md-7">
            <h3 class="text-warning fw-bold">Your Dream</h3>
            <h1 class="text-light fw-bold display-4">Is our responsibility</h1>
            <p class="text-light fs-3">Lorem ipsum color sit amet, consectetur adipisicing elit,sed do eilusmod tempor</p>
            <button class="btn btn-warning fw-bold text-light rounded-0 p-3"> Read More
            </button>
            </div>
            </div>
            </div>     
            <div class="row">
            <div class="col-md-4">
            <nav id="nav">
            <ul class="nav">
            <li><a href="/home/" class="nav-link">Home</a></li>
            <li><a href="/service/" class="nav-link">Service</a></li>
            <li><a href="/contact/" class="nav-link">Contact</a></li>
            <li><a href="/blogs/" class="nav-link">blogs</a></li>
            </ul>
            </nav>
            </div>
            </div>
            <!--header end-->
            
            <div class="row" id="banner">
            <div class="col-md-12" id="subbanner">
            <div class="col-md-7">
            <h4 class="text-warning fs-2 fw-bold">building right</h4>
            <h1 class="text-light display-3 fw-bold">always dedicated and devoted</h1>
            <p class="text-light fs-4">lorem ipsum dolar sit amet, consectetur adipisicing elit,sed do eiusmod tempor.</p>
            <button class="btn btn-warning fw-bold text-light rounded-0">read more</button>
            </div>
            </div>
            </div>
            <!--banner end-->
            <div class="row" id="services">
            <div class="col-md-12 text-center">
            <h2 class="text-uppercase fw-bold"><span class="text-warning">our</span>services</h2>
            <p>Clarities est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum</p>
            
            </div>
            </div>
            </h4>
            </div>
            </div>
            </div>
<!--function asd() {
                "use strict";
                var i=1;
            
                if(i==1){
                function count($this){
                var current = parseInt($this.html(), 10);
                current = current + 10; /* Where 50 is increment */	
                $this.html(++current);
                    if(current > $this.data('count')){
                        $this.html($this.data('count'));
                    } else {    
                        setTimeout(function(){count($this)}, 50);
                    }
                }        	
                $(".stat-count").each(function() {
                  $(this).data('count', parseInt($(this).html(), 10));
                  $(this).html('0');
                  count($(this));
                });}
              };
            
            $(document).ready(function(){
                var tester = document.getElementById('counter');
                
                var p;
                var n = 0;
            
                window.onscroll = function() {
                    p = checkVisible(tester);
            
                    if(p == true && n == 0){
            
                        asd();
                        n = 1;
                    }
                };
            });
            
            function checkVisible(elm) {
              var rect = elm.getBoundingClientRect();
              var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
              return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
            };-->
            
            
            
                    
            
            </body>
        
        
            <a href="/about/"_blank>click here</a>
        </body>
</html>


