{% load static %}
<html>
   <head>
        <title>start bootstrap</title>
<link href="{% static 'css/bootstrap.min.css' %}"
rel="stylesheet"/>
<link href="{% static 'css/bootstrap-grid.min.css' %}" 
rel="stylesheet"/>
<link href="{% static  'app1.css' %}"
rel="stylesheet"
   </head>
   <body>
<div class="container-flud">
       <div class="row bg-dark text-light p-2" id="header" >
          <div class="col-md-8">
               <h3 class="ms-5">Start Bootstrap</h3>
     </div>
     <div class="col-md-4">
         <nav id="nav">
             <ul class="nav">
                  <li><a href="" Class="nav-link">Home</a></li>
                  <li><a href="" Class="nav-link">About</a></li>
                  <li><a href=""
                  class="nav-link">Contact</a></li>
                  <li><a href=""
                   class="nav-link">Service</a></li>
            </ul>
         </nav>
     </div>
   </div>
   <!--header end-->

   <div class="row">
         <div class="col-md-10 offset-1">
   
<div class="row p-4">
   <div class="col-md-7">
            <img src="{% static 'a.jfif' %}" height="350"
            width="100%" />
         </div>

         <div class="col-md-5 p-3">
            <h1>Business Name or Tagline</h1>
   <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
   <button class="btn btn-primary">Call to Action</button>
         </div>
      <div>
      <!--row end-->   
      </div class="row p-4">
            <div class="col-md-12 bg-secondary text-light p-4 text-center rounded-1">
   <p>This call to action card is a great place to showcase some important information or display a clever tagline!</p>
            </div>
      </div>
      <!--row end-->
      <div class="row p-4">
         <div class="col-md-4">
            <div class="col-md-12 border">
             <div class="p-3">
             <h3>Card One</h3> 
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
   </div>
   </div class="p-3 bg-light border">
   <button class="btn btn-primary">More Info</button>
   </div>
         </div>
      </div>

      </div> class="col-md-4">
         <div class="col-md-12 border">
         </div> class="p-3">
         <h3>Card Two</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
</div>
<div> class="p-3 bg-light border">
<button class="btn btn-primary">More Info</button>
<div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="col-md-12 border">
         <div class="p-3">
         <h3> Card Three</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
</div>
      </div>
   </div>
</div>
<div>
</div>
 <!--offset end-->
<div class="row bg-dark text-light text-center p-5">
   <div class="col-md-12">
         <p>Copyright &copy; Your Websites2023</p>
   </div>
</div>

</div>
</body>
</html>
       
